@use "../abstracts/fonts.scss";

@mixin container {
  margin: 0 auto;
  width: 320px;
}

@mixin wrapper {
  margin: 0 auto;
  width: 260px;
}

@mixin title-primary {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
