
body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.form__group {
  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.button-primary,
.main-navigation__toogle,
.reviews__arrow,
.product__button-buy {
  padding: 0;
  outline: 0;
  border: 0;
  background-color: rgba(#ffffff, 1);
  cursor: pointer;
}
