//viewports
$tablet-width: 768px;
$desktop-width: 1150px;
// Цвет
$colorGreen-primary: rgba(99, 209, 187, 1);
$colorGreen-pinMap: rgba(107, 198, 179, 1);
$colorGreen-line: rgba(98, 209, 186, 1);
$colorGreen-hover: rgba(70, 193, 174, 1);
$colorGreen: rgba(86, 195, 178, 1);
$colorDarkGrey: rgba(68, 68, 68, 1);
$colorLightGrey: rgba(236, 236, 236, 1);
// Фон
$colorGrey: rgba(249, 249, 249, 1);
// Общий цвет
$colorWhite: rgb(255, 255, 255, 1);
$colorBlack: rgb(0, 0, 0, 1);
//Шрифт
$open-sans: "Open Sans", "Aril", sans-serif;
