$colorGreen-primary: rgba(99, 209, 187, 1);
$colorGreen-pinMap: rgba(107, 198, 179, 1);
$colorGreen: rgba(86, 195, 178, 1);
$colorDarkgrey: rgba(68, 68, 68, 1);
$colorLightGrey: rgba(236, 236, 236, 1);
$colorGrey: rgba(241, 241, 241, 1);
