@use "../abstracts/bootstrap.scss";

.assortment {
  min-height: 373px;
  background-image: url("../img/handmade.jpg");
  background-color: bootstrap.$colorGrey;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: bootstrap.$tablet-width) {
    &--section-wavy::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/svg/zigzag-fill-desktop-icon.svg");
      z-index: 10;
    }
  }
}

.assortment__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: bootstrap.$tablet-width) {
    min-height: 746px;
  }
}

.assortment__title {
  @include bootstrap.title(27px);
  margin: 0 30px;
  padding-top: 73px;
  padding-bottom: 120px;
  text-align: center;

  @media (min-width: bootstrap.$tablet-width) {
    padding-top: 133px;
  }
}

.assortment__list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;

  @include bootstrap.ul-reset;

  @media (min-width: bootstrap.$tablet-width) {
    flex-direction: row;
    padding: 0 50px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    width: 100%;
    padding: 0;
  }
}

.assortment__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 24px;
  padding-right: 27px;
  padding-bottom: 31px;
  padding-left: 30px;
  cursor: pointer;

  &:nth-child(odd) {
    background-color: bootstrap.$colorGreen-primary;
  }

  &:nth-child(odd):hover {
    background-color: bootstrap.$colorGreen-hover-odd;
  }

  &:nth-child(even) {
    background-color: bootstrap.$colorGreen-even;
  }

  &:nth-child(even):hover {
    background-color: bootstrap.$colorGreen-hover;
  }

  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:active::after {
    opacity: 0.3;
  }

  &--interior::after {
    background-image: url("../img/svg/interior-icon.svg");
  }

  &--lego::after {
    background-image: url("../img/svg/lego-icon.svg");
  }

  @media (min-width: bootstrap.$tablet-width) {
    padding-top: 25px;
    padding-right: 36px;
    padding-bottom: 34px;
    padding-left: 36px;
  }
}

.assortment__link {
  display: block;

  @include bootstrap.link-reset;
  color: bootstrap.$colorWhite;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}
