@use "../abstracts/bootstrap.scss";

.catalog__inner-title {
  background-color: bootstrap.$colorGrey;
  margin-bottom: 30px;
}

@media (min-width: bootstrap.$tablet-width) {
  .catalog__inner-title {
    margin-bottom: 67px;
  }
}

.catalog__title {
  @include bootstrap.title(27px);
  padding: 73px 0;
  text-align: center;
}

.catalog__wrapper {
  @include bootstrap.wrapper;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

@media (min-width: bootstrap.$tablet-width) {
  .catalog__wrapper {
    @include bootstrap.wrapper($size: bootstrap.$tablet-width);
    margin-bottom: 53px;
  }
}

.catalog__text {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 29px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include bootstrap.ul-reset;
}

@media (min-width: bootstrap.$tablet-width) {
  .catalog__list {
    gap: 54px;
  }
}
