@use "../abstracts/bootstrap.scss";

.catalog__inner-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: bootstrap.$colorGrey;

  @media (min-width: bootstrap.$tablet-width) {
    min-height: 238px;
    margin-bottom: 67px;

    &--section-wavy::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/svg/zigzag-fill-desktop-icon.svg");
      z-index: 10;
    }
  }

  @media (min-width: bootstrap.$desktop-width) {
    min-height: 255px;
    margin-bottom: 127px;
  }
}

.catalog__title {
  @include bootstrap.title(27px);
  padding-top: 83px;
  padding-bottom: 73px;
  text-align: center;

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.title(43px, 50px);
  }

  @media (min-width: bootstrap.$desktop-width) {
    @include bootstrap.title(53px, 57px);
    padding-top: 79px;
  }
}

.catalog__wrapper {
  @include bootstrap.wrapper-mobile;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.wrapper-tablet;
    margin-bottom: 53px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    @include bootstrap.wrapper-desktop;
    margin-bottom: 53px;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include bootstrap.ul-reset;

  @media (min-width: bootstrap.$tablet-width) {
    gap: 54px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 51px;
  }
}

.catalog__item {
  &:hover,
  &:focus-within {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}
