@use "../abstracts/bootstrap.scss";

.contacts {
  @media (min-width: bootstrap.$desktop-width) {
    display: grid;
    grid-template-columns: 175px 292px 1fr;
    column-gap: 23px;
    grid-template-areas:
      ". title map"
      ". description map"
      ". feedback map";
  }
}

.contacts__wrapper {
  @include bootstrap.wrapper;
  height: 100%;
  margin-bottom: 62px;

  @media (min-width: bootstrap.$tablet-width) {
    padding-top: 22px;
    margin-bottom: 55px;

    @include bootstrap.wrapper($size: bootstrap.$tablet-width);
  }

  @media (min-width: bootstrap.$desktop-width) {
    grid-area: title;
    width: auto;
    margin: 0;
    padding: 0;
  }
}

.contacts__title {
  display: flex;

  @include bootstrap.title(25px);
  margin-bottom: 28px;

  @media (min-width: bootstrap.$tablet-width) {
    align-items: center;
  }

  @media (min-width: bootstrap.$desktop-width) {
    padding-top: 79px;
  }
}

.contacts__subtitle {
  position: absolute;
  display: block;

  &::after {
    content: "";
    display: none;
    width: 47px;
    height: 81px;
    background-image: url("../img/svg/flag-icon.svg");
  }

  @media (min-width: bootstrap.$tablet-width) {
    right: 50px;
    width: 100px;
    text-align: center;

    &::after {
      display: inline-block;
    }
  }

  @media (min-width: bootstrap.$desktop-width) {
    left: 50px;
  }
}

.contacts__address {
  margin: 0;
  font-size: 14px;
  line-height: 30px;


  @media (min-width: bootstrap.$tablet-width) {
    display: flex;
    gap: 51px;
    padding-top: 40px;
    padding-bottom: 49px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 84px;
    padding: 0;
  }
}

.contacts__address-list {
  margin-bottom: 41px;
}

.contacts__address-inner {
  display: flex;
}

.contacts__address-inner:not(:last-of-type) {
  padding-bottom: 40px;

  @media (min-width: bootstrap.$desktop-width) {
    padding: 0;
  }
}

.contacts__address-title {
  width: 76px;

  &::after {
    content: ": ";
  }
}

.contacts__address-value {
  margin: 0;
}

.contacts__address-link {
  @include bootstrap.link-reset;
  border-bottom: 1px solid bootstrap.$colorGreen-primary;
}

.contacts__map {
  margin-bottom: 42px;

  @media (min-width: bootstrap.$desktop-width) {
    margin: 0;
    grid-area: map;
  }
}

.contacts__feedback {
  @include bootstrap.wrapper;
  margin-bottom: 39px;

  @media (min-width: bootstrap.$desktop-width) {
    width: 230px;
    margin: 0;
    grid-area: feedback;
  }
}

.contacts__feedback-button {
  @media (min-width: bootstrap.$tablet-width) {
    max-width: 230px;
  }
}
