@use "../abstracts/bootstrap.scss";

.contacts__wrapper {
  @include bootstrap.wrapper;
  height: 100%;
  margin-bottom: 62px;
}

@media (min-width: bootstrap.$tablet-width) {
  .contacts__wrapper {
    padding-top: 22px;

    @include bootstrap.wrapper($size: bootstrap.$tablet-width);
  }
}

.contacts__title {
  display: flex;
  align-items: center;

  @include bootstrap.title(25px);
  min-height: 87px;
}

@media (min-width: bootstrap.$tablet-width) {
  .contacts__title {
    &--flag {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 47px;
        height: 81px;
        background-image: url("../img/svg/flag-icon.svg");
      }
    }
  }
}

.contacts__address {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}

@media (min-width: bootstrap.$tablet-width) {
  .contacts__address {
    display: flex;
    gap: 51px;
    padding-top: 40px;
    padding-bottom: 49px;
  }
}

.contacts__address-list {
  margin-bottom: 41px;
}

.contacts__address-inner {
  display: flex;
}

.contacts__address-inner:not(:last-of-type) {
  padding-bottom: 40px;
}

.contacts__address-title {
  width: 76px;

  &::after {
    content: ": ";
  }
}

.contacts__address-value {
  margin: 0;
}

.contacts__address-link {
  @include bootstrap.link-reset;
  border-bottom: 1px solid bootstrap.$colorGreen-primary;
}

.contacts__map {
  margin-bottom: 42px;
}

@media (min-width: bootstrap.$tablet-width) {
  .contacts__wrapper {
    margin-bottom: 55px;
  }
}

.contacts__feedback {
  @include bootstrap.wrapper;
  margin-bottom: 39px;
}

@media (min-width: bootstrap.$tablet-width) {
  .contacts__feedback-button {
    max-width: 230px;
  }
}
