@use "../abstracts/bootstrap.scss";

.contacts__wrapper {
  position: relative;

  @media (min-width: bootstrap.$desktop-width) {
    display: grid;
    grid-template-columns: 125px 361px 1fr;
    column-gap: 50px;
    grid-template-areas:
      ". title map"
      ". description map"
      ". feedback map";

    @include bootstrap.wrapper-desktop;
  }
}

.contacts__address {
  @include bootstrap.wrapper-mobile;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 62px;

  @media (min-width: bootstrap.$tablet-width) {
    display: flex;
    gap: 51px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 49px;

    @include bootstrap.wrapper-tablet;
  }

  @media (min-width: bootstrap.$desktop-width) {
    grid-area: description;
    gap: 33px;
    flex-direction: column;
    margin: 0;
    margin-bottom: 74px;
    padding: 0;
  }
}

.contacts__address-inner {
  display: flex;
  justify-content: flex-start;
  gap: 5px;

  &:first-of-type {
    margin-bottom: 37px;
  }

  @include bootstrap.wrapper-mobile;
  width: auto;
  height: 100%;

  @media (min-width: bootstrap.$tablet-width) {
    margin: 0;
  }

  @media (min-width: bootstrap.$desktop-width) {
    grid-area: title;
    padding: 0;
    width: auto;
    height: auto;

    &:first-of-type {
      margin-bottom: 0;
    }
  }
}

.contacts__title {
  display: flex;

  @include bootstrap.title(25px);
  @include bootstrap.wrapper-mobile;
  margin-bottom: 28px;

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.title(43px, 50px);
    @include bootstrap.wrapper-tablet;
    align-items: center;
  }

  @media (min-width: bootstrap.$desktop-width) {
    grid-area: title;
    margin: 34px 0;

    @include bootstrap.title(53px, 57px);
  }
}

.contacts__subtitle {
  position: absolute;
  display: block;

  &::after {
    content: "";
    display: none;
    width: 47px;
    height: 81px;
    background-image: url("../img/svg/flag-icon.svg");
  }

  @media (min-width: bootstrap.$tablet-width) {
    right: 0;
    width: 100px;
    text-align: center;

    &::after {
      display: inline-block;
    }
  }

  @media (min-width: bootstrap.$desktop-width) {
    left: 10px;
  }
}

.contacts__address-list {
  margin-bottom: 41px;
}

.contacts__address-title {
  min-width: 76px;

  &::after {
    content: ": ";
  }
}

.contacts__address-value {
  margin: 0;
}

.contacts__address-link {
  @include bootstrap.link-reset;
  border-bottom: 1px solid bootstrap.$colorGreen-primary;

  &:hover,
  &:focus-within {
    color: bootstrap.$colorGreen-primary;
  }

  &:active {
    border-bottom: 1px solid rgba(bootstrap.$colorGreen-primary, 0.1);
  }
}

.contacts__map {
  margin-bottom: 42px;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin: 0;
    grid-area: map;
  }
}

.contacts__feedback {
  @include bootstrap.wrapper-mobile;
  margin-bottom: 39px;

  @media (min-width: bootstrap.$desktop-width) {
    width: 230px;
    margin: 0;
    grid-area: feedback;
  }
}

.contacts__feedback-button {
  @media (min-width: bootstrap.$tablet-width) {
    max-width: 230px;
  }
}
