@use "../abstracts/bootstrap.scss";
@use "../abstracts/fonts.scss";

.copyright {
  display: flex;
  align-items: center;
  gap: 25px;

  &__text {
    font-size: 19px;
    line-height: 18px;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__image {
    height: 34px;
  }
}
