@use "../abstracts/bootstrap.scss";

.copyright {
  display: flex;
  align-items: center;
  gap: 16px;

  &:hover svg {
    fill: bootstrap.$colorGreen-hover;
  }

  &:active svg {
    fill: rgba(bootstrap.$colorGreen-hover, 0.3);
  }
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  cursor: pointer;
}

.copyright__link {
  display: flex;
}

.copyright__link > svg {
  fill: bootstrap.$colorGreen-primary;
}
