@use "../abstracts/bootstrap.scss";

.featured {
  position: relative;
}

.featured__wrapper {
  @include bootstrap.wrapper;
  padding-bottom: 36px;
}

@media (min-width: bootstrap.$tablet-width) {
  .featured__wrapper {
    display: grid;
    grid-template-columns: 292px 1fr;
    column-gap: 42px;
    grid-template-areas:
      "title title"
      "description product"
      "price product";

    @include bootstrap.wrapper($size: bootstrap.$tablet-width);
  }
}

.featured__title {
  position: relative;

  @include bootstrap.title(25px);
  margin-bottom: 41px;
}

@media (min-width: bootstrap.$tablet-width) {
  .featured__title {
    grid-area: title;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
}

.featured__subtitle {
  position: absolute;
  display: block;
}

@media (min-width: bootstrap.$tablet-width) {
  .featured__subtitle {
    display: inline-block;
    right: 0;
    width: 100px;
    text-align: center;
  }
}

@media (min-width: bootstrap.$tablet-width) {
  .featured__description-inner {
    grid-area: description;
  }
}

.featured__description-text {
  margin: 0;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 24px;
}

.featured__description-list {
  margin: 0;
  margin-bottom: 41px;
  font-size: 15px;
  line-height: 20px;
}

.featured__description-list-inner {
  display: flex;
  margin-top: auto;
  padding: 14px 0;
  border-bottom: 1px solid bootstrap.$colorLightGrey;
}

.featured__table-title {
  width: 97px;

  &::after {
    content: ": ";
  }
}

.featured__table-value {
  margin: 0;
}

.featured__image-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: bootstrap.$tablet-width) {
  .featured__image-inner {
    grid-area: product;
  }
}

@media (min-width: bootstrap.$tablet-width) {
  .featured__price-inner {
    grid-area: price;
  }
}

.featured__price {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25.5px;
  padding-bottom: 24.5px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: bootstrap.$colorDarkGrey;
}

.featured__button {
  width: 100%;
}

@media (min-width: bootstrap.$tablet-width) {
  .featured__price-inner {
    grid-area: price;
  }

  .featured__button {
    max-width: 100%;
  }
}
