@use "../abstracts/bootstrap.scss";

.featured {
  position: relative;
}

.featured__wrapper {
  @include bootstrap.wrapper-mobile;
  padding-bottom: 42px;

  @media (min-width: bootstrap.$tablet-width) {
    display: grid;
    grid-template-columns: 292px 1fr;
    column-gap: 42px;
    row-gap: 29px;
    grid-template-areas:
      "title title"
      "description product"
      "price product";

    @include bootstrap.wrapper-tablet;
    padding-bottom: 64px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    position: relative;
    grid-template-columns: 125px 292px 1fr;
    grid-template-areas:
      ". title title"
      ". description product"
      ". price product";
    column-gap: 50px;
    row-gap: 22px;

    @include bootstrap.wrapper-desktop;
    padding-bottom: 97px;
  }
}

.featured__title {
  @include bootstrap.title(25px);
  margin-bottom: 17px;
  z-index: 10;

  @media (min-width: bootstrap.$tablet-width) {
    grid-area: title;

    @include bootstrap.title(43px);
    display: flex;
    align-items: center;
    margin-bottom: 18px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    @include bootstrap.title(53px, 57px);
    margin-top: 44px;
    padding-right: 110px;
  }
}

.featured__subtitle {
  display: block;
  margin-top: 4px;

  @media (min-width: bootstrap.$tablet-width) {
    position: absolute;
    display: inline-block;
    right: 62px;
    width: 104px;
    text-align: center;
  }

  @media (min-width: bootstrap.$desktop-width) {
    left: 30px;
  }
}

.featured__description-inner {
  @media (min-width: bootstrap.$tablet-width) {
    grid-area: description;
    margin-bottom: 3px;
  }
}

.featured__description-text {
  margin: 0;
  margin-bottom: 17px;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 37px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin-bottom: 49px;
  }
}

.featured__description-list {
  margin: 0;
  margin-bottom: 29px;
  font-size: 15px;
  line-height: 20px;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 0;
  }
}

.featured__description-list-inner {
  display: flex;
  margin-top: auto;
  padding: 10px 0;
  border-bottom: 1px solid bootstrap.$colorLightGrey;
}

.featured__table-title {
  width: 97px;

  &::after {
    content: ": ";
  }
}

.featured__table-value {
  margin: 0;
}

.featured__image-inner {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: bootstrap.$tablet-width) {
    grid-area: product;
    justify-content: end;
  }

  @media (min-width: bootstrap.$desktop-width) {
    grid-row-start: 1;
  }
}

.featured__image {
  z-index: 1;
}

.featured__price-inner {
  @media (min-width: bootstrap.$tablet-width) {
    grid-area: price;
    margin-top: auto;
  }
}

.featured__price {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 26px;
  padding-bottom: 23px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: bootstrap.$colorDarkGrey;

  @media (min-width: bootstrap.$tablet-width) {
    font-size: 20px;
    margin-bottom: 25px;
    padding-bottom: 7px;
  }
}

.featured__button {
  width: 100%;

  @media (min-width: bootstrap.$tablet-width) {
    max-width: 100%;
  }
}
