@use "../abstracts/bootstrap.scss";

.form {
  display: flex;
  flex-direction: column;
}

.form__group {
  display: grid;
  margin-bottom: 10px;

  &--radio {
    margin-bottom: 30px;
  }

  &--checkbox {
    margin-bottom: 33px;
  }

  @media (min-width: bootstrap.$tablet-width) {
    grid-template-columns: 150px 1fr;
    column-gap: 15px;
    row-gap: 50px;
    padding: 50px;

    &:nth-child(even) {
      background-color: rgba(241, 241, 241, 1);
    }

    &--unification {
      display: block;
    }

    &--phone {
      padding: 0;
    }

    &--email {
      padding: 0;
    }
  }
}

.form__group-inner {
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: bootstrap.$tablet-width) {
    &--name {
      display: flex;
      align-items: center;
    }
  }
}

.form__item-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: bootstrap.$tablet-width) {
    padding-right: 25px;
  }
}

.form__legend {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: bootstrap.$colorGreen-primary;
  text-transform: uppercase;

  &--line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 63px;
    right: 0;
    height: 50%;
    border-top: 1px solid bootstrap.$colorGreen-line;
    z-index: -1;
  }

  &--radio {
    margin-bottom: 30px;
  }

  &--checkbox {
    margin-bottom: 25px;
  }

  &--name {
    margin-bottom: 29px;
  }

  &--other {
    margin-bottom: 23px;
  }
}

.form__list {
  display: grid;
  grid-template-columns: auto;
  gap: 22px;

  @include bootstrap.ul-reset;

  @media (min-width: bootstrap.$tablet-width) {
    &--checkbox {
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
    }
  }
}

.form__inner-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: bootstrap.$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
  }
}

.form__remark {
  margin: 0;
  margin-right: auto;
  color: bootstrap.$colorDarkGrey;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: bootstrap.$tablet-width) {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    order: 2;
  }
}

.form__button-wrapper {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.form__button {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin-top: 30px;

  @media (min-width: bootstrap.$tablet-width) {
    max-width: 230px;
    margin: 0;
    order: 1;
  }
}
