@use "../abstracts/bootstrap.scss";

.form {
  display: flex;
  flex-direction: column;
}

@media (min-width: bootstrap.$tablet-width) {
  .form {
    display: grid;
    grid-template-columns: 150px 1fr;
    column-gap: 15px;
    row-gap: 50px;
  }
}

.form__group {
  @include bootstrap.fieldset-reset;
  margin-bottom: 10px;
  display: grid;

  &--radio {
    margin-bottom: 30px;
  }

  &--checkbox {
    margin-bottom: 33px;
  }
}

@media (min-width: bootstrap.$tablet-width) {
  .form__group {
    display: contents;

    &:nth-child(even) {
      background-color: rgba(241, 241, 241, 1);
    }
  }
}

.form__group-inner {
  margin: 0;
  margin-bottom: 25px;
}

.form__item-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.form__legend {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: bootstrap.$colorGreen-primary;
  text-transform: uppercase;

  &--line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 63px;
    right: 0;
    height: 50%;
    border-top: 1px solid bootstrap.$colorGreen-line;
    z-index: -1;
  }

  &--radio {
    margin-bottom: 30px;
  }

  &--checkbox {
    margin-bottom: 25px;
  }

  &--name {
    margin-bottom: 29px;
  }

  &--other {
    margin-bottom: 23px;
  }
}

.form__list {
  display: grid;
  grid-template-columns: auto;
  gap: 22px;

  @include bootstrap.ul-reset;
}

.form__remark {
  margin: 0;
  color: bootstrap.$colorDarkGrey;
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: bootstrap.$tablet-width) {
  .form__remark {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    order: 2;
  }
}

.form__button-wrapper {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.form__button {
  box-sizing: border-box;
  width: 100%;
  margin-top: 30px;
}

@media (min-width: bootstrap.$tablet-width) {
  .form__button {
    min-width: 230px;
    margin: 0;
    order: 1;
  }
}
