@use "../global/bootstrap.scss";
@use "../global/fonts.scss";

.input-text {
  width: 100%;
  padding: 17px 0;
  border: none;
  border-bottom: 2px solid #000000;
  box-sizing: border-box;
  overflow: hidden;

  &::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    opacity: 0.3;
  }

  &--textarea {
    appearance: none;
    border: 2px solid #000000;
    padding: 17px;
    padding-bottom: 89px;
    resize: none;
  }
}
