@use "../abstracts/bootstrap.scss";

.input-text {
  width: 100%;
  padding: 17px 0;
  border: none;
  border-bottom: 2px solid bootstrap.$colorBlack;
  box-sizing: border-box;
  overflow: hidden;
  background-color: transparent;

  &:hover,
  &:focus-within {
    outline: none;
    border-color: bootstrap.$colorGreen-line;
  }

  &:hover ~ .input-text__icon,
  &:focus-within ~ .input-text__icon {
    color: rgba(bootstrap.$colorGreen-hover, 1);
  }

  &:active {
    outline: none;
    border-color: bootstrap.$colorGreen-line;
  }

  &::placeholder {
    font-family: bootstrap.$open-sans;
    font-size: 17px;
    line-height: 18px;
    opacity: 0.3;

    @media (min-width: bootstrap.$tablet-width) {
      font-size: 19px;
    }
  }

  &--mail {
    position: relative;
  }

  &--textarea {
    appearance: none;
    border: 2px solid bootstrap.$colorBlack;
    padding: 17px;
    padding-bottom: 89px;
    resize: none;
  }

  @media (min-width: bootstrap.$tablet-width) {
    padding-left: 17px;
  }
}

.input-text__icon {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(bootstrap.$colorBlack, 0.2);
  fill: currentColor;

  @media (min-width: bootstrap.$tablet-width) {
    right: 28px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    right: 0;
  }
}
