@use "../abstracts/bootstrap.scss";

.item-control {
  position: relative;
  display: flex;
  align-items: center;

  &--radio {
    height: 42px;
    padding-left: 61px;
  }

  &--checkbox {
    height: 38px;
    padding-left: 61px;
  }

  &--text {
    border: 1px solid;
    border-color: rgba(bootstrap.$colorDarkGrey, 0.1);
    padding: 18px 0;
    text-align: center;
    width: 82px;

    &:hover {
      border-color: rgba(bootstrap.$colorDarkGrey, 1);
    }

    &:active {
      border-color: bootstrap.$colorGreen-primary;
    }

    @media (min-width: bootstrap.$tablet-width) {
      width: 112px;
    }
  }
}

.item-control__title {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.item-control__icon {
  position: absolute;
  top: 3px;
  left: 0;
  box-sizing: border-box;
  border: 1px solid bootstrap.$colorDarkGrey;
  cursor: pointer;

  &--radio {
    width: 42px;
    height: 42px;
    border-radius: 2px;
  }

  &--checkbox {
    width: 38px;
    height: 38px;
  }
}

.item-control__input + .item-control__icon {
  top: 2px;
}

.item-control__input[type="radio"] + .item-control__icon {
  border-radius: 50%;
}

.item-control__input:checked + .item-control__icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-control__input[type="radio"]:checked + .item-control__icon--radio::before {
  width: 18.3px;
  height: 18.3px;
  border-radius: 50%;
  background-color: bootstrap.$colorGreen-primary;
}

.item-control__input[type="checkbox"]:checked + .item-control__icon--checkbox::before {
  width: 23.2px;
  height: 16.1px;
  background-image: url("../img/svg/tick-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.item-control__radio:checked + .item-control--text {
  border: 2px solid bootstrap.$colorGreen-primary;
}
