@use "../abstracts/bootstrap.scss";

.main-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 46px 30px 32px 30px;
  background-color: bootstrap.$colorGrey;
}

@media (min-width: bootstrap.$tablet-width) {
  .main-footer {
    flex-direction: row;
    justify-content: space-between;
    gap: 122px;
    padding: 51px 50px 58px 50px;
  }
}

.main-footer__link-logo {
  display: none;
}

@media (min-width: bootstrap.$tablet-width) {
  .main-footer__link-logo {
    display: block;
  }
}

.main-footer__social {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30.5px;
  padding-bottom: 30.5px;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}

@media (min-width: bootstrap.$tablet-width) {
  .main-footer__social {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
}

.main-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  color: bootstrap.$colorBlack;
}
