@use "../abstracts/bootstrap.scss";

.main-header {
  position: relative;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.main-header__wrapper {
  @include bootstrap.wrapper;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: bootstrap.$tablet-width) {
    position: relative;
    height: 89px;

    @include bootstrap.wrapper($size: bootstrap.$tablet-width);
  }
}

.main-header__link-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 79px;

  @media (min-width: bootstrap.$tablet-width) {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    color: bootstrap.$colorWhite;
    z-index: 15;
  }
}

.main-header__delivery-promo {
  display: none;
  grid-area: promo;
  margin-left: auto;
  color: bootstrap.$colorDarkGrey;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: bootstrap.$tablet-width) {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    display: block;
  }
}
