@use "../abstracts/bootstrap.scss";
@use "../abstracts/fonts.scss";

.main-footer {
  background-color: bootstrap.$colorGrey;
}

.main-footer__wrapper {
  @include bootstrap.wrapper;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-footer__social-list {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 27.5px;
  padding-bottom: 30.5px;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.main-footer__copyright {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-top: 29px;
  padding-bottom: 32px;
}
