@use "../abstracts/bootstrap.scss";

.main-container__assortment {
  margin-bottom: 31px;
}

.main-container__featured {
  margin-bottom: 31px;
}

.main-container__advantages {
  margin-bottom: 38px;
}

.main-container__reviews {
  margin-bottom: 38px;
}

.main-container__contacts {
  margin-bottom: 39px;
}
