@use "../abstracts/bootstrap.scss";

.main-container {
  flex-grow: 1;
}

.main-container__assortment {
  position: relative;
  margin-bottom: 31px;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 39.5px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin-bottom: 54px;
  }
}

.main-container__featured {
  margin-bottom: 39px;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin-bottom: 68px;
  }
}

.main-container__advantages {
  @include bootstrap.wrapper-mobile;
  margin: 0;
  margin-bottom: 53px;

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.wrapper-tablet;
    margin: 0;
    margin-bottom: 83px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    @include bootstrap.wrapper-desktop;
    margin-bottom: 90px;
    padding-left: 175px;
  }
}

.main-container__reviews {
  margin-bottom: 38px;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    @include bootstrap.wrapper-desktop;
    margin-bottom: 71px;
  }
}

.main-container__contacts {
  position: relative;
  margin-bottom: 39px;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin-bottom: 105px;
  }
}
