@use "../abstracts/bootstrap.scss";

.map {
  position: relative;
}

.map iframe {
  display: block;
  max-height: 457px;
  width: 100%;
  border: none;
}

.map__image {
  position: absolute;
  max-height: 457px;
  width: 100%;
}

.map__mark {
  position: absolute;
  top: 30%;
  right: 40%;
  z-index: 15;
  cursor: pointer;
}
