@use "../abstracts/bootstrap.scss";

.map {
  position: relative;
}

.map__image {
  width: 100%;
  max-height: 457px;
}

.map__mark {
  position: absolute;
  top: 42%;
  right: 47%;
  transform: translate(50%, -50%);
}
