@use "../abstracts/bootstrap.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(bootstrap.$colorWhite, 0.9);
  z-index: 20;

  &--close {
   display: none;
  }
}

.modal__body {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 566px;
  display: flex;
  transform: translate(-50%, -50%);
  background-color: bootstrap.$colorWhite;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

.modal__content {
  @include bootstrap.wrapper-mobile;
  padding-top: 28px;
  padding-bottom: 46px;

  @media (min-width: bootstrap.$tablet-width) {
    width: auto;
    padding-top: 37.5px;
    padding-right: 92px;
    padding-bottom: 46px;
    padding-left: 93px;
  }
}

.modal__title {
  display: flex;
  align-items: center;
  justify-content: center;

  @include bootstrap.title(25px);
  padding-bottom: 14px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: bootstrap.$tablet-width) {
  .modal__title br {
    display: none;
  }
}

.modal__form {
  margin: 0 auto;
  max-width: 350px;
}

.modal__form-group {
  appearance: none;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

.modal__form-legend {
  text-align: center;
  margin-bottom: 21px;
}

.modal__button {
  width: 100%;
  max-width: 350px;
  margin-top: 31px;
  font-size: 17px;
  line-height: 16px;
}
