@use "../abstracts/bootstrap.scss";

.order__inner-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 17px;
  background-color: bootstrap.$colorGrey;

  @media (min-width: bootstrap.$tablet-width) {
    min-height: 238px;
    margin-bottom: 54px;
  }
}

.order__title {
  @include bootstrap.title(25px);
  @include bootstrap.wrapper;
  padding: 73px 0;
  text-align: center;
}

.order__wrapper {
  @include bootstrap.wrapper;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 55px;

  @media (min-width: bootstrap.$tablet-width) {
    width: auto;
    margin-top: 54px;
    margin-bottom: 50px;
  }
}

.order__text {
  @include bootstrap.wrapper($size: bootstrap.$mobile-width);
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 29px;

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.wrapper($size: bootstrap.$tablet-width);
    margin-bottom: 13px;
  }
}
