@use "../abstracts/bootstrap.scss";
@use "../abstracts/fonts.scss";

.page {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: bootstrap.$colorBlack;
  background-color: bootstrap.$colorWhite;
}

.page__body {
  max-width: 320px;
  margin: auto;
}
