@use "../abstracts/bootstrap.scss";

.page {
  height: 100%;
  font-family: bootstrap.$open-sans;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: bootstrap.$colorDarkGrey;
  background-color: bootstrap.$colorWhite;
}

.page__body {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  background-color: bootstrap.$colorWhite;
}

@media (min-width: bootstrap.$tablet-width) {
  .page__body {
    min-width: bootstrap.$tablet-width;
  }
}

@media (min-width: bootstrap.$desktop-width) {
  .page__body {
    min-width: bootstrap.$desktop-width;
  }
}
