@use "../abstracts/bootstrap.scss";

.production__wrapper {
  @include bootstrap.wrapper;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 58px;
  border: 1px solid bootstrap.$colorLightGrey;
}

.production__title {
  display: flex;
  align-items: center;
  position: relative;

  @include bootstrap.title-h3;

  margin-top: 22px;
  margin-bottom: 24.5px;
  padding-left: 91px;
  order: 1;

  &--icon::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 34px;
    display: block;
    width: 32px;
    height: 22px;
    background-image: url("../img/svg/videocamera-icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.production__info-inner {
  order: 3;
  padding: 34px;
  padding-right: 29px;
}

.production__description {
  margin: 0;
  margin-bottom: 41px;
  font-size: 13px;
  line-height: 24px;
  order: 2;
}

.production__button {
  width: 100%;
}

.production__video-inner {
  position: relative;
  order: 2;
  margin: 0;
}

.production__video {
  display: block;
  background-color: bootstrap.$colorLightGrey;
}

.production__video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
