@use "../abstracts/bootstrap.scss";

.reviews {
  position: relative;

  @media (min-width: bootstrap.$tablet-width) {
    background-image: url("../img/index/review.jpg");
    background-repeat: no-repeat;
    background-position: top left;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/review@2x.jpg");
      background-size: 350px 457px;
    }
  }
}

.reviews__wrapper {
  @include bootstrap.wrapper-mobile;
  height: 100%;
  padding-bottom: 51px;

  @media (min-width: bootstrap.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 175px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title button"
      "review review"
      ". control";
    column-gap: 20px;
    padding-top: 78px;
    padding-bottom: 105px;

    @include bootstrap.wrapper-tablet;
  }

  @media (min-width: bootstrap.$desktop-width) {
    width: auto;
    padding-bottom: 161px;
    padding-left: 175px;
  }
}

.reviews__title {
  position: relative;

  @include bootstrap.title(25px);
  margin-bottom: 14px;

  @media (min-width: bootstrap.$tablet-width) {
    @include bootstrap.title(43px, 50px);
    grid-area: title;
    margin-bottom: 38.5px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    grid-area: title;

    @include bootstrap.title(53px, 57px);
    margin-bottom: 39px;
  }
}

.reviews__list {
  @media (min-width: bootstrap.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 175px;
    grid-area: review;
    grid-template-areas:
      "review review"
      "author control";
    column-gap: 20px;
    row-gap: 21px;
  }

  &--second {
    display: none;
  }

  &--third {
    display: none;
  }
}

.reviews__text {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 31px;

  @media (min-width: bootstrap.$tablet-width) {
    grid-area: review;
    margin-bottom: 41px;
    font-size: 17px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin-bottom: 17px;
  }
}

.reviews__author-info {
  margin: 0;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 30px;

  @media (min-width: bootstrap.$tablet-width) {
    grid-area: author;
    font-size: 18px;
    line-height: 24px;
  }
}

.reviews__author-name {
  display: block;
  font-weight: 700;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 6px;
  }
}

.reviews__control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;

  @media (min-width: bootstrap.$tablet-width) {
    grid-area: control;
    align-items: center;
    margin-top: -70px;
    padding: 0 19px;
  }
}

.reviews__arrow {
  @include bootstrap.button-reset;
  padding: 13px 0;
  padding-left: 37px;
  padding-right: 42px;
  outline: 1px solid bootstrap.$colorLightGrey;

  &:hover,
  &:focus-within {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: bootstrap.$tablet-width) {
    padding: 0;
    outline: none;
  }
}

.reviews__create-button {
  @media (min-width: bootstrap.$tablet-width) {
    grid-area: button;
    height: min-content;
    width: 100%;
  }
}
