@use "../abstracts/bootstrap.scss";
/*
.section-wavy {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/svg/zigzag-line-icon.svg");
    z-index: 10;
  }
}


@media (min-width: bootstrap.$tablet-width) {
  .section-wavy {
    &::after {
      height: 17px;
      background-repeat: repeat-x;
    }
  }
}
*/
