@use "../abstracts/bootstrap.scss";
@use "../abstracts/fonts.scss";

.socials__list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 29px;

  @include bootstrap.ul-reset;

  padding: 0 10px;
}
