@use "../abstracts/bootstrap.scss";

.socials__list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 29px;

  @include bootstrap.ul-reset;
}

.socials__link {
  color: bootstrap.$colorBlack;

  &:hover > svg {
    color: bootstrap.$colorGreen-hover;
  }

  &:active > svg {
    color: rgba(bootstrap.$colorGreen-hover, 0.3);
  }
}

.socials__link > svg {
  fill: currentColor;
}
