@use "../global/bootstrap.scss";
@use "../global/fonts.scss";

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: bootstrap.$colorGreen-primary;
}
